<.flash_group flash={@flash} />

<div class="
    w-full h-full flex items-center justify-center gap-5
    text-md
">
  <a class="hover:underline" href="/events">Events</a>
  <a class="hover:underline" href="/calendar">Calendar</a>
</div>
